html, body {
     padding: 0;
     margin: 0;
     overflow: hidden;
}

#mapL, #mapWE {
     position: absolute !important;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: #fff;
     position: absolute !important;
}
 #mapL {
     right: 0%;
}
 #mapWE {
     left: 100%;
}
 #coords {
     position: absolute;
     bottom: 0;
}